body {
    text-align: center;
    margin: 2.5rem auto 0;
    width: 50rem;
    background-color: #000000;
}

ul.menu {
    width: 50rem;
    margin: 0 auto;
}

.title-name {
    padding: 5rem 0 1rem 0;
    background-color: white;
    margin: 0;
}

.active-page {
    color: #8ba888 !important;
}

.flex-container {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    padding: 0 4px;
    gap: 8px;
}

.flex-container>div {
    background: #ffffff;
}


.book-cover {
    width: 100%;
    margin: 6px 0;
    padding: 0;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.65);
}

.book-cover:hover {
    transform: scale(1.05);
}

.substack {
    border: none !important;
    height: 12rem;
    width: 100%;
    background-color: white;
}

.icon-container {
    padding-top: 1rem;
    padding-bottom: 5rem;
    background-color: #44624a;
}

.social-icon {
    width: 3rem;
    margin: 1rem;
    padding: .5rem;
    border: 1px grey solid;
    border-radius: 20%;
    background-color: white;
}

/* ABOUT PAGE */
.about-container {
    background-color: #c0cfb2;
    padding: 3rem 12rem;
}

.about-pic {
    width: 6rem;
    border-radius: 100%;
    border: 2px #44624a solid;
}

.about-text {
    padding: 2rem 0;
    text-align: left;
}

.footer {
    background-color: white;
}

.cta-text {
    margin: 0 2rem;
    padding-top: 2rem;
}

/* BOOK PAGE */

.book-description-container {
    background-color: #d3e2d2;
    padding: 2rem 12rem;
}

.book-page-cover {
    width: 20rem;
    padding-bottom: 2rem;
}

.book-text {
    text-align: left;
}

.buy-btn {
    margin: 2rem 0 3rem
}


/* MOBILE */

@media only screen and (max-width: 960px) {
    body {
        width: 100%;
    }

    ul.menu {
        width: 100%;
    }

    .book-cover {}

    .substack {
        height: 12rem;
    }

    /* ABOUT PAGE */
    .about-container {
        background-color: #c0cfb2;
        padding: 2rem 10%;
    }

    .about-pic {
        width: 5rem;
    }

    .about-text {
        padding: 1rem 0;
    }

    /* BOOK PAGE */

    .book-description-container {
        padding: 2rem 2rem;
    }

    .book-page-cover {
        width: 75%;
    }

}